@font-face {
	font-family: "Roboto"; 
	src: url("../fonts/Roboto-Thin.ttf") format("truetype"); font-style: normal; 
	font-weight: 300; 
} 

@font-face {
	font-family: "Roboto"; 
	src: url("../fonts/Roboto-Regular.ttf") format("truetype"); font-style: normal; 
	font-weight: normal; 
} 
@font-face {
    font-family: "Roboto"; 
    src: url("../fonts/Roboto-Bold.ttf") format("truetype"); font-style: normal; 
    font-weight: bold; 
} 

@font-face {
	font-family: "Roboto Condensed"; 
	src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"); font-style: normal; 
	font-weight: normal; 
    } 
@font-face {
    font-family: "Roboto Condensed"; 
    src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"); font-style: normal; 
    font-weight: bold; 
} 

.font2{
		font-family: bebas, sans-serif;
	}
.font2{
    font-family: 'Roboto Condensed', sans-serif;
}
h1, h2, h3{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #3a3a3a;
}
h1 {
    font-size: 103rem;
    letter-spacing: -2rem;
    font-weight: 600;
}
h2{
    font-size: 62rem;
    letter-spacing: -2rem;
    font-weight: 600;
}
h3{
    font-size: 34rem;
    letter-spacing: -0.5rem;
    font-weight: 600;
}
h3.h3{
    font-size: 36rem;
}
body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.wraper{
    width: 100%;
    overflow: hidden;
}
header{
    background: transparent;
}
header .container-par{
    position: relative;
    height: 128rem;
}
header .logo{
    text-align: center;
    position: relative;
    z-index: 1;
    padding-top: 20rem;
}
header .logo img{
width: 165rem;
}
header .fon_pict{
    position: absolute;
    width: 1500rem;
    height: 1500rem;
    bottom: 0;
    right: -542rem;
    background: #9dce46;
    border-radius: 50%;
}
.title{

}
.title .container-par{
    position: relative;
    min-height: 358rem;
}
.title h1 {
    padding: 47rem 0 0;
    margin: 0;
}
.title h2{
    padding: 80rem 0 16rem;
    margin: 0;
}
.title h3{
    margin: 0;
    padding: 0rem 0 0;
}
.title h3 b{
    font-size: 40rem;
    display: block;
    padding-top: 17rem;
}
.title .fon_pict{
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: -561rem;
    background: #ffd15b;
    border-radius: 50%;
    padding: 20rem;
}
.title .fon_pict b{
    display: block;
    width: 1500rem;
    height: 1500rem;
    background: #ffd15b;
    border-radius: 50%;
    border: 18rem solid #fff; 
}
.whatsapp{
    padding: 86rem 0 33rem;
    text-align: center;
}
.whatsapp .w-btn{
    display: inline-block;
    padding: 24rem 87rem 0 17rem;
    background: #ccc;
    border-radius: 40rem;
    height: 75rem;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.whatsapp .w-btn span{
    text-transform: uppercase;
    color: #333;
    font-size: 23rem;
    font-weight: 500;
    letter-spacing: -0.5rem;
}
.whatsapp .w-btn .ico{
    position: absolute;
    top: -11rem;
    right: -21rem;
    background: #53c911;
    padding: 22rem 0 0;
    width: 98rem;
    height: 98rem;
    border: 6rem solid #fff;
    box-shadow: 0 0 20rem rgba(0,0,0, 0.5);
    border-radius: 50%;
}
.whatsapp .w-btn .ico img{
    width: 42rem;
}
.whatsapp .not_sp{
    padding: 27rem 0 27rem;
    text-transform: uppercase;
}
.whatsapp .not_sp a{
    display: inline-block;
    border-bottom: 2rem solid #333; 
    font-size: 17rem;
    cursor: pointer;
}
footer{
    padding: 14rem 0 20rem;
    background: #3a3a3a;
    color: #f5f5f5;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
    font-size: 15rem;
    letter-spacing: 0.3rem;
}
footer p{
    margin: 5rem 0 8rem;
}
footer .politic{
    padding: 10rem 0 0;
}

.var2 header{
    background: #9dce46;
    padding: 34rem 0 32rem;
}
.var2 .title {
    padding: 29rem 0 0rem;
}
.var2 .title .container-par {
    min-height: 280rem;
}
.var2 .title h3 {
    margin: 0;
    padding: 4rem 0 0;
}
.var2 .whatsapp {
    padding: 40rem 0 33rem;
}
.var2 .whatsapp .w-btn {
    display: inline-block;
    padding: 24rem 87rem 0 17rem;
    background: #53c911;
    border-radius: 40rem;
    height: 75rem;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.var2 .whatsapp .w-btn .ico {
    position: absolute;
    top: -5rem;
    right: 27rem;
    background: transparent;
    padding: 22rem 0 0;
    width: auto;
    height: auto;
    border: none;
    box-shadow: none;
    border-radius: 0;
}
.var2 .whatsapp .w-btn span {
    text-transform: uppercase;
    color: #fff;
    font-size: 23rem;
    font-weight: 500;
    letter-spacing: -0.5rem;
}
.var2 .whatsapp .not_sp {
    padding: 22rem 0 57rem;
    text-transform: uppercase;
}
.var2 .whatsapp .not_sp a {
    display: inline-block;
    border-bottom: 2rem solid #333;
    font-size: 17rem;
    cursor: pointer;
    padding-bottom: 3rem;
}


.h-wrap{
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    padding-bottom: 200rem;
}
.t-row {
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
.t-cel{
display: table-cell;
vertical-align: middle;
}
.text{
    display: block;
    text-align: center;
    font-size: 26rem;
}
.text-green{
    color: #29c44d;
}
.text-red{
    color: #ce7979;
}
.footer2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    color: #333;
}