*{
	box-sizing: border-box;
}
html {
    font-size: 0.241143311vw; /* only for mobile*/
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
	font-size: 14rem;
}
body:before {
    width: 300px;
    height: 100px;
    background: red;
    
}
body:after {
    width: 300rem;
    height: 100rem;
    background:#00ff0099;
}
body:before,
body:after {
    content: "камертон";
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 1000000;
    display: none ;
}

@media screen and (min-width: 415px) {
	html{
		font-size: 1px;
	}
} 
.overflow{
    overflow: hidden;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0rem;
    padding-right: 0rem;
    position: relative;
}

@media screen and (min-width: 415px){
	.container {
        width: 414px;
	}
}
.container-par{
    margin: 0 auto;
    padding: 0 11rem;
    max-width: 414rem;
    position: relative;
}

.section{
    margin: 50rem 0;
    overflow: hidden;
}
.section-bg{
    margin: 0;
    padding: 0rem 0 0rem;
}
.section-bg:after{
    content: " ";
    display: block;
    margin-top: 50rem;
    margin-bottom: -50rem;
    height: 0;
}
.section-bg::before{
    content: " ";
    display: block;
    margin-top: -50rem;
    margin-bottom: 50rem;
    height: 0;
}