{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <img src="{{ asset('img/izzipay.svg') }}" width="100%" height="100%" alt="image description"/>
{% endblock %}