<div class="modal fade jsAdminLinkForm" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <form>
            <input type="hidden" class="jsId" name="form[id]" value="" />

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h4 class="modal-title jsPopupTitle"></h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Сумма</label>
                        <input type="text" class="form-control jsAmount" name="form[amount]" value="" />
                        <div class="js-amount-error js-field-error"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Комментарий</label>
                        <input type="text" class="form-control jsDesc" name="form[desc]" value="" />
                        <div class="js-desc-error js-field-error"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Валюта</label>
                        <select name="form[currency]" class="form-control jsCurrency" disabled="" value="">
                            <option selected value="RUB">RUB</option>
                        </select>
                        <div class="js-currency-error js-field-error"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Номер бота</label>
                        <input type="text" class="form-control jsBot" name="form[bot]" value="" />
                        <div class="js-bot-error js-field-error"></div>
                    </div>




                    <div class="form-group">
                        <label class="control-label">Количество</label>
                        <input type="text" class="form-control jsQuantity" name="form[quantity]" value="">
                        <div class="js-quantity-error js-field-error"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Налогооблажение</label>
                        <select name="form[vat]" class="jsVat form-control form-control-sm" id="vat">
                            <option selected value="null">НДС не облагается</option>
                            <option value="20">НДС 20%</option>
                            <option value="10">НДС 10%</option>
                            <option value="0">НДС 0%</option>
                            <option value="110">расчетный НДС 10/110</option>
                            <option value="120">расчетный НДС 10/120</option>
                        </select>
                        <div class="js-vat-error js-field-error"></div>
                    </div>


                    <div class="form-group">
                        <label class="control-label">Способ расчета</label>
                        <select name="form[method]" class="form-control jsMethod">
                            <option value="0">Hеизвестный способ расчета (значение по умолчанию. в электронной форме чека не отображается)</option>
                            <option value="1">Предоплата 100%</option>
                            <option value="2">Предоплата</option>
                            <option value="3">Аванс</option>
                            <option value="4">Полный расчёт</option>
                            <option value="5">Частичный расчёт и кредит</option>
                            <option value="6">Передача в кредит</option>
                            <option value="7">Оплата кредита</option>
                        </select>
                        <div class="js-method-error js-field-error"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Предмет оплаты</label>
                        <select name="form[object]" class="form-control jsObject">
                            <option value="0">Hеизвестный предмет оплаты (значение по умолчанию. в электронной форме чека не отображается)</option>
                            <option value="1">Товар</option>
                            <option value="2">Подакцизный товар</option>
                            <option value="3">Работа</option>
                            <option value="4">Услуга</option>
                            <option value="5">Ставка азартной игры</option>
                            <option value="6">Выигрыш азартной игры</option>
                            <option value="7">Лотерейный билет</option>
                            <option value="8">Выигрыш лотереи</option>
                            <option value="9">Предоставление РИД</option>
                            <option value="10">Платеж</option>
                            <option value="11">Агентское вознаграждение</option>
                            <option value="12">Составной предмет расчета</option>
                            <option value="13">Иной предмет расчета</option>
                        </select>
                        <div class="js-object-error js-field-error"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Признак предмета</label>
                        <select name="form[measurementUnit]" class="form-control jsMeasurementUnit" disabled="">
                            <option selected value="шт">Шт.</option>
                        </select>
                        <div class="js-measurementUnit-error js-field-error"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="globError js-glob-error"></div>

                    <div class="row">
                        <div class="col-xs-12 text-left">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
