<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
<link href="{{ asset('vendor/bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet" media="screen" />
<link href="{{ asset('vendor/bootstrap/css/dashboard.css') }}" rel="stylesheet" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ asset('css/admin/admin.css') }}">