{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% include 'admin/_stylesheets.html.twig' %}
{% endblock %}

{% block modals %}
    {% include 'admin/_linkForm.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include 'admin/_javascripts.html.twig' %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Перейти к сайту</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Платежи</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="container-fluid">
            <h2>Платежи</h2>

            <div class="row filter">
                <div class="col-sm-1">
                    <div class="filter-title">Поиск</div>
                </div>
                <div class="col-sm-11">
                    <form class="jsFilterForm">
                        <div class="row">
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="filter[query]" placeholder="Наименование" value="{{ filter.query }}" />
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary">Найти</button>
                                <a href="{{ path('admin_panel') }}" class="btn btn-default">Сбросить</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <br>

            <div class="designs row">
                <div class="col-sm-8" style="padding-left:40px;">
                </div>
                <div class="col-sm-4 text-right">
                    <a class="btn btn-success btn-xs jsShowAdminLinkCreatePopup" href="#">
                        <i class="glyphicon glyphicon-plus"></i> Добавить
                    </a>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ссылка</th>
                        <th>Создана</th>
                        <th>Комментарий</th>
                        <th>Сумма</th>
                        <th>Валюта</th>
                        <th>Бот</th>
                        <th>{# Иконки действий #}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in payments %}
                        {% set payment = e[0] %}
                        {% set link = payment.link %}

                        <tr>
                            <td>https://izzipay.ru/{% if filter.query %}{{ link.short|highlightTextFilter(filter.query) }}{% else %}{{ link.short }}{% endif %}
                            </td>
                            <td>{{ payment.createdAt|date('d.m.Y H:i') }}</td>
                            <td>
                                {% if filter.query %}
                                    {{ payment.description|highlightTextFilter(filter.query) }}
                                {% else %}
                                    {{ payment.description }}
                                {% endif %}
                            </td>
                            <td>
                                {% if filter.query %}
                                    {{ payment.amount|highlightTextFilter(filter.query) }}
                                {% else %}
                                    {{ payment.amount }}
                                {% endif %}
                            </td>
                            <td>
                                {% if filter.query %}
                                    {{ payment.currency|highlightTextFilter(filter.query) }}
                                {% else %}
                                    {{ payment.currency }}
                                {% endif %}
                            </td>
                            <td>
                                {% if filter.query %}
                                    {{ payment.botNumber|highlightTextFilter(filter.query) }}
                                {% else %}
                                    {{ payment.botNumber }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="#" class="jsShowAdminLinkEditPopup" data-id="{{ link.id }}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="#" class="jsAdminLinkDelete" data-action="удалить ссылку" data-id="{{ link.id }}">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="designs row">
                <div class="col-sm-8" style="padding-left:40px;">
                </div>
                <div class="col-sm-4 text-right">
                    <a class="btn btn-success btn-xs jsShowAdminLinkCreatePopup" href="#">
                        <i class="glyphicon glyphicon-plus"></i> Добавить
                    </a>
                </div>
            </div>

            {% do payments.setTemplate('pagination/pagination.html.twig') %}
            {{ knp_pagination_render(payments) }}



        </div>
    </div>
{% endblock %}