{% if pageCount > 1 %}
    <div class="text-center">
        <ul class="pagination">
            <li class="{% if first is not defined or current == first %}disabled{% endif %}">
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&laquo;</a>
            </li>

            <li class="{% if previous is not defined %}disabled{% endif %}">
                {% if previous is defined %}
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&larr; сюда</a>
                {% else %}
                    <a>&larr; сюда</a>
                {% endif %}
            </li>

            {% for page in pagesInRange %}
                <li class="{% if page == current %}active{% endif %}">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">
                        {{page}}
                    </a>
                </li>
            {% endfor %}

            <li class="{% if next is not defined %}disabled{% endif %}">
                {% if next is defined %}
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">туда &rarr;</a>
                {% else %}
                    <a>туда &rarr;</a>
                {% endif %}
            </li>

            <li class="{% if last is not defined or current == last %}disabled{% endif %}">
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&raquo;</a>
            </li>
        </ul>
    </div>
{% endif %}
