<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>{{ title }}</a>{% if sorted %}&nbsp;{% if direction == 'desc' %}<a class="glyphicon glyphicon-arrow-down"></a>{% else %}<a class="glyphicon glyphicon-arrow-up"></a>{% endif %}{% endif %}