.jsAdminLinkDelete .glyphicon-remove {
    color: red;
}
.js-field-error {
    color: red;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    vertical-align: middle;
    padding: 4px 0px;
}
.js-glob-error {
    color: red;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
.highlight {
    color: red;
}