{% extends 'base.html.twig' %}

{% block title %}
    fail
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/rem.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/main.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="wraper h-wrap">

        <header>
            <div class="container-par">
                <div class="logo logo-pay">
                    <img src="{{ asset('img/logo-pay.png') }}" alt="IZZIBOT"/>
                </div>

            </div>
        </header>

        <div class="t-row">
            <div class="t-cel">
                <div class="container-par">
                    <span class="text text-red">Возникли проблемы<br/>с проведением<br/> платежа</span>
                </div>
            </div>
        </div>

        <footer class="footer2">
            <p>ООО "ИЗЗИФРАНЧ"</p>
            <p>ИНН 7743283827</p>
            <p>КПП 774301001</p>
        </footer>

    </div>

{% endblock %}