{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        let pay = function () {

            var data = { // options
                publicId: '{{ publicId }}',         // id из личного кабинета
                description: '{{ description }}',   // назначение
                amount: {{ amount }},               // сумма
                currency: '{{ currency }}',         // валюта
                accountId: '{{ accountId }}',       // идентификатор плательщика (необязательно)
                data: {
                    short: '{{ short }}',           // произвольный набор параметров
                }
            };
            if ('{{ accountId }}') data.accountId = '{{ accountId }}';

            var widget = new cp.CloudPayments();

            widget.charge(data,
                function (options) { // success
                    if ('{{ accountId }}') window.location.replace("https://api.whatsapp.com/send?phone={{ botNumber }}");
                    else window.location.replace("/success");
                },
                function (reason, options) { // fail
                    window.location.replace("/fail");
                });
        };

        $(document).ready(function () {
            pay();
        });
    </script>
{% endblock %}

{% block body %}

{% endblock %}